.mapa {
    display: flex;
    justify-content: flex-end;
    width: 30vw;
    height: 50vh;
}

.pantalla {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}

.ladoIzq {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-right: 50px;
}

.leaflet-control-container .leaflet-routing-container-hide {
    display: none;
    }