
.profile-pic
{
    display: block;
    border-radius: 50%;
    height: 30vh;
    border: 3px solid #555;
    margin: auto;
}

.profile-name{
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
    line-height: 26px;
}

.profile-email{
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    line-height: 26px;
    color:rgba(0, 0, 0, 0.521);
}

.profile-rol{
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    line-height: 26px;
    color:rgba(0, 0, 0, 0.521);
}

.profile-number{
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    line-height: 26px;
    color:rgba(0, 0, 0, 0.521);
}

.icono-movil
{
    padding-right: 10px;
}

.profile-paypal{
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 20px;
    line-height: 26px;
    color:rgba(0, 0, 0, 0.521);
}

.btn-actualizar
{
    padding-top: 10px;
}

.btn-edit{
    width: 100%;
}

.form-update{
    padding-left: 20px;
}

.input-file{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.file-button{
    width: 90%;
    padding-bottom: 10px;
}