.content
{
    background-color: #fff;
    border-color: #ebebeb;
    border-style: solid;
    border-width: 0 1px 1px;
    padding: 5px 10px 10px;
    position: relative;
}
.container-full
{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.container-left
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    width: 30vw;
}

.container-right
{
    padding-left: 8px;
    vertical-align: top;
    width: 70vw;
}

.profile-pic
{
    border-radius: 50%;
    height: 30vh;
    border: 3px solid #555;
}

.profile-name{
    padding-top: 20px;
    font-size: 20px;
    line-height: 26px;
}

.profile-email{
    padding-top: 10px;
    font-size: 20px;
    line-height: 26px;
    color:rgba(0, 0, 0, 0.521);
}

.profile-rol{
    padding-top: 10px;
    font-size: 20px;
    line-height: 26px;
    color:rgba(0, 0, 0, 0.521);
}

.profile-number{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 55%;
    padding-top: 10px;
    font-size: 20px;
    line-height: 26px;
    color:rgba(0, 0, 0, 0.521);
}

.icono-movil
{
    padding-right: 10px;
}

.profile-paypal{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 20px;
    line-height: 26px;
    color:rgba(0, 0, 0, 0.521);
}

.btn-actualizar
{
    padding-top: 10px;
}

.btn-edit{
    width: 100%;
}

.form-update{
    padding-left: 20px;
}